/* Elements.css - A simple, bootstrap-inspired CSS framework
*
* CONTENTS:
*  Variables
*
*  Reset
*
*  Layout (container, grid, etc.)
*    Media Queries
*    Small
*    Medium
*    Large
*    Extra Large
*
*  Colors and Styles
*
*  Text Classes
*/

/* VARIABLES */
:root {
  --main-bg-color: #fafafa;
  --main-fg-color: #444;
  --main-muted-color: #aaa;

  --main-border-color: #bbb;
  --main-focus-color: #5cf;

  --input-bg-color: #0000;
  --input-fg-color: #444;
}

/* RESET */

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Verdana", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
  outline: none;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* LAYOUT */

.container {
  margin: 0 auto;
  padding: 1em 15px;
}

.container-fluid {
  margin: 0;
}

.row-xs {
  display: flex;
  flex-direction: row;
}

.row-sm,
.row-md,
.row-lg,
.row-xl {
  display: flex;
  flex-direction: column;
}

.col {
  flex: 1 1 0;
  padding: 0 1em;
}

.col-double {
  flex: 2 1 0;
}

.col-half {
  flex: 0.5 1 0;
}

.align-center {
  text-align: center;
  align-items: center;
}

.align-left {
  text-align: left;
  align-items: flex-start;
}

.align-right {
  text-align: right;
  align-items: right;
}

/* BASIC COLORS AND STYLES */

body {
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.0rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.0rem;
}

p {
  line-height: 1.6em;
  margin-bottom: 1.0em;
}

input,
select {
  margin: 0.5em;
  border: 1px solid var(--main-border-color);
  border-radius: 6px;
  padding: 0.7em;
  background-color: var(--input-bg-color);
  color: var(--input-fg-color);
  font-size: 1em;
}

input[type="button"] {
  padding: 0.7em 1.3em;
}

input:focus,
select:focus {
  box-shadow: 0 0 1px 2px var(--main-focus-color);
  border-color: var(--main-focus-color);
}

/* TEXT CLASSES */
.muted-text {
  color: var(--main-muted-color);
}

/* MEDIA QUERIES */

/* Small devices */
@media (min-width: 576px) {

  /* LAYOUT */

  .container {
    max-width: 500px;
  }

  .row-sm {
    flex-direction: row;
  }

}

/* Medium devices */
@media (min-width: 768px) {

  /* LAYOUT */

  .container {
    max-width: 700px;
  }

  .row-md {
    flex-direction: row;
  }

}

/* Large devices */
@media (min-width: 992px) {

  /* LAYOUT */

  .container {
    max-width: 900px;
  }

  .row-lg {
    flex-direction: row;
  }

}

@media (min-width: 1200px) {

  /* LAYOUT */

  .container {
    max-width: 1150px;
  }

  .row-xl {
    flex-direction: row;
  }

}
